.c-app__item {
  border: 1px solid $greyVL;
  border-top: none;
  color: $greyVD;
  display: flex;
  justify-content: space-between;
  padding: $spacingXS;
}

.c-app__item:first-child { border-top: 1px solid $greyVL; }
.c-app__item:hover { background-color: $greyVVL; }
.c-app__items { width: 100%; }
.c-app__name, .c-app__quantity { padding: $spacingXXS $spacingXS; }

.c-app__quantity {
  background-color: $greyD;
  border-radius: 16px;
  color: $white;
}

.c-details__alert {
  background-color: $colorError;
  color: $white;
  padding: 15px;
}

.c-details__bounce {
  animation: bounce 0.1s;
  background-color: $colorError;
  border-radius: 50px;
  color: $white;
  height: 20px;
  padding: 10px;
  position: absolute;
  right: -20px;
  text-align: center;
  top: -20px;
  width: 20px;
}

.c-details__container {
  margin-bottom: $spacingS;
  position: relative;
  text-align: center;
}

.c-details__img { width: 100%; }

.c-details--space {
  display: flex;
  justify-content: space-between;
}

.c-details__wrapper { position: relative; }
