.c-details__wrapper( *ngIf = "cocktail" )
  .c-details__container
    img.c-details__img( [src] = "cocktail.img", [alt] = "cocktail.name" )
    h3.c-list__title {{ cocktail.name }}
  .c-details__container
    p.c-details__desc {{ cocktail.desc }}
  .c-details__container
    .c-app__items
      a.c-app__item( *ngFor = "let ingredient of cocktail.ingredients")
        span.c-app__name {{ ingredient.nom }}
        span.c-app__quantity {{ ingredient.quantity }}
  .c-details__container.c-details--space
    button.c-ui-button--t2W.c-ui-button--bordered( [routerLink] = "getUrl()", *ngIf = "cocktail.name !== ''" ) Éditer le cocktail
    button.c-ui-button--bordered( (click) = "addPanier( cocktail.ingredients )", *ngIf = "cocktail.name !== ''" ) Ajouter au panier
    .c-details__container( *ngIf = "cocktail.name === ''") Vous pouvez sélectionner un cocktail dans le liste, ajouter un nouveau cocktail, en supprimer un ou bien éditer celui que vous souhaitez. Les prermiers cocktails ne peuvent pas être supprimés.
    .c-details__bounce( *ngIf = "this.message !== 0 && cocktail.name !== ''" ) {{ message }}
  .c-details__alert( *ngIf = "this.alert !== '' && cocktail.name !== ''" ) {{ alert }}
