
<div *ngIf="cocktail">
  <div class="c-details__container"><img class="c-details__img" [src]="cocktail.img" [alt]="cocktail.name"/>
    <h3 class="c-list__title">{{ cocktail.name }}</h3>
  </div>
  <div class="c-details__container">
    <p class="c-details__desc">{{ cocktail.desc }}</p>
  </div>
  <div class="c-details__container">
    <div class="c-app__items"><a class="c-app__item" *ngFor="let ingredient of cocktail.ingredients"><span class="c-app__name">{{ ingredient.name }}</span><span class="c-app__quantity">{{ ingredient.quantity }}</span></a></div>
  </div>
  <div class="c-details__container c-details--space">
    <button class="c-ui-button--t2W c-ui-button--bordered" [routerLink]="getUrl()">Éditer le cocktail {{ cocktail.name }}</button>
    <button class="c-ui-button--bordered" (click)="addPanier( cocktail.ingredients) ">Ajouter au panier</button>
  </div>
</div>