
<div class="c-list__container">
  <div class="c-list__items"></div>
  <input class="c-form__input" placeholder="Filtrer les cocktails par nom" type="text" [(ngModel)]="search"/>
  <div class="c-list__wrap" id="{{ i }}" *ngFor="let cocktail of cocktails | appFilter:search ; let i = index;">
    <div class="c-list__fitler" *ngIf="search"><a class="c-list__item" [routerLink]="[i]" routerLinkActive="is-active">{{ cocktail.name }}</a></div>
    <div class="c-list__fitler" *ngIf="search === ''">
      <div class="c-list__condition" *ngIf="cocktail !== null &amp;&amp; cocktail.name !== ''">
        <button class="c-ui-button__list-cross" type="button" uiIcon="close" (click)="removeCocktail( cocktail, i )"></button><a class="c-list__item" [routerLink]="[i]" routerLinkActive="is-active">{{ cocktail.name }}</a>
      </div>
    </div>
  </div>
</div>
<div class="c-list__container">
  <button class="c-ui-button--bordered" routerLink="nouveau-cocktail"> Ajouter un cocktail</button>
</div>
<p>{{ remove }}</p>