.c-default__container Vous pouvez sélectionner un cocktail dans le liste, ajouter un nouveau cocktail, en supprimer un ou bien éditer celui que vous souhaitez. Les prermiers cocktails ne peuvent pas être supprimés.
