.c-app__row
  .c-ingredients__container
    h3 Panier :
    .c-app__items
      a.c-app__item( *ngFor = "let ingredient of ingredients")
        span.c-app__name {{ ingredient.name }}
        span.c-app__quantity {{ ingredient.quantity }}