html, body {
  margin: 0;
  padding: 0;
  min-height: 101%;
}

body, section, nav, article, aside,
h1, h2, h3, h4, h5, h6,
header, footer, address, p, blockquote,
ol, ul, li, figure, figcaption, div, a,
q, data, time, sub, sup, span,
form, fieldset, legend, label, input,
button, select, datalist, optgroup, option, textarea {
  font-family: $pt-sans;
}