nav.c-nav( [class.is-open] = "isOpen" )
  a.c-nav__logo( routerLink = "/" )
    img( src = "assets/images/cocktails-logo.svg" )
  .c-nav__icon( (click) = "toggleNav()", [class.is-open] = "isOpen" )
    span
    span
    span
    span
  .c-nav__container( [class.is-open] = "isOpen" )
    ul.c-nav__list
      li.c-nav__item
        a.c-nav__link( (click) = "toggleNav()", routerLink = "/cocktails", routerLinkActive = "is-active" ) Cocktails
      li.c-nav__item
        a.c-nav__link( (click) = "toggleNav()", routerLink = "/panier", routerLinkActive = "is-active" ) Panier
.c-nav__overlay( [class.is-open] = "isOpen" )
