
nav.c-nav
  a.c-nav__logo( routerLink = "/" )
    img( src = "../assets/images/cocktails-logo.svg" )
  .c-nav__container
    ul.c-nav__list
      li.c-nav__item
        a.c-nav__link( routerLink = "/cocktails", routerLinkActive = "is-active" ) Cocktails
      li.c-nav__item
        a.c-nav__link( routerLink = "/panier", routerLinkActive = "is-active" ) Panier