.c-nav {
  height: 160px;
  display: flex;
  justify-content: space-between;
  background-color: $greyVVL;
  padding: $spacingS;
  position: relative;
}

.c-nav__container {
  @include translateY;
  padding: $spacingS;
  position: relative;
  top: 50%;
}

.c-nav__item {
  margin-left: $spacingL;
  font-size: 30px;
  text-transform: uppercase;
}

.c-nav__link {
  cursor: pointer;
  position: relative;
}

.c-nav__link:before {
  @include transition;
  background-color: $color2D;
  bottom: -10px;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 0;
}

.c-nav__link:hover:before {
  @include transition;
  width: 100%;
}

.c-nav__link.is-active { color: $color2; }

.c-nav__link.is-active:before {
  background-color: $color2;
  width: 100%;
}

.c-nav__list {
  align-items: center;
  display: flex;
  height: 100%;
}

.c-nav__logo {
  display: block;
  height: 100%;
  overflow: hidden;
  width: 160px;
}

.c-nav__logo img { width: 100%; }
.c-nav__overlay { display: none; }
